.cart__container {
    margin-top: 6rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cart {
    margin-left: 5rem;
    flex: 0.68;
}

.item-enter,
.item-appear {
    opacity: 0;
}

.item-enter-active,
.item-appear-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.item-exit,
.item-leave {
    opacity: 1;
    transition: opacity 0.8s ease-in;
}

.item-exit-active,
.item-leave-active {
    opacity: 0;
    transition: opacity 0.8s ease-in;
}

.cart__item {
    display: flex;
    width: 100%;
    height: 10rem;
    padding: 1rem 0;
    border-bottom: 1px solid rgb(229, 229, 229);
    align-items: center;
    margin-bottom: 50px;
}

.cart__item img {
    display: block;
    height: 12rem;
    margin-right: 2rem;
}

.cart__item__detail {
    width: 35rem;
    position: relative;
}

.cart__item__detail select,
.quantity-container>input {
    border: none;
    margin: 15px;
    color: rgb(117, 117, 117);
    background: #fff;
    width: 2rem;
}

.quantity-container {
    display: flex;
    align-items: center;
}

.quantity-container>input {

    margin: 15px 0;
    border: none;
    margin: 15px 5px;
    color: rgb(117, 117, 117);
    background: #fff;
    width: 2rem;
    padding: 5px;
    text-align: center;

}

.quantity-container>input:focus {
    border-bottom: 1px solid rgb(117, 117, 117);
}

.quantity-container>button {
    height: 2rem;
    width: 2rem;
}

.reduce-quantity {
    margin-left: 20px
}

.cart-item-detail select:focus {
    outline: none;
}

.price {
    position: absolute;
    top: 0;
    right: 20px;
    margin: 0;
}

.cart__item__detail__container>button {
    border: none;
    margin-top: 8px;
    margin-right: 15px;
    padding: 0;
    padding-bottom: 2px;
    background: #fff;
    color: rgb(117, 117, 117);
    font-size: 1rem;
    border-bottom: 1px solid rgb(117, 117, 117);
    cursor: pointer;
}

.cart__item__detail__container>button:hover {
    color: rgb(155, 155, 155);
    border-bottom: 1px solid rgb(155, 155, 155);
}

.summary-cart {
    flex: 0.3;
}

@media screen and (max-width: 1000px) {
    .cart-page {
        flex-direction: column;
        font-size: 1.85rem;
    }

    .cart-page input,
    .cart-page button {
        font-size: 1.5rem;
    }

    .cart {
        margin-left: 0;
        width: 80%;
        margin: 0 auto;
    }

}