/*
.ProductItem {
    margin: 1rem;
    height: 25rem;
    width: 15rem;
    transition: all 0.4s;
    cursor: pointer;
    padding-bottom: 1rem;
    position: relative;
}

.ProductItem img {
    height: 18rem;
}

.ProductDetail {
    margin-left: 1rem;
    font-size: 1rem;
    line-height: 1.2;
}

.ProductDetail h3,
.ProductDetail p {
    margin: 0.5rem 0;
}

.brand {
    font-size: 0.9rem;
    color: rgb(105, 105, 105);
}

.img-list {
    display: flex;
}

.img-list img {
    height: 50px;
    margin-right: 3px;
}

.ProductItem:hover .ProductDetail_imgList {
    opacity: 1;
}

.ProductDetail_imgList {
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7rem;
    background-color: #fff;
    transition: opacity 0.4s;
}

.ProductDetail_imgList_btn {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.ProductDetail_imgList_btn>a {
    flex: 0.49;
}

.ProductDetail_imgList_btn a,
.like {

    flex: 1;
}

.ProductDetail_imgList_btn button {
    height: 100%;
    width: 100%;
    font-size: 15px;
}

.like-btn {
    background-color: #03a9f4 !important;
    color: white !important;
    transition: all 0.2s;
    width: 50%;
}

.detail-btn {
    background-color: rgb(229, 229, 229) !important;
    width: 50%;
    transition: all 0.2s;
}
*/
/***********************************************/
.card__item {
    margin: 1rem;
    height: 450px;
    width: 15rem;
    transition: all 0.4s;
    cursor: pointer;
    padding-bottom: 1rem;
    position: relative;
}

.card__item_img {
    display: block;
    height: 70%;
}

.card__item__content {
    margin-left: 1rem;
    font-size: 1rem;
    line-height: 1.2;
}

.card__item__content h3 {
    margin: 0.5rem 0;
}

.card__item__content p {
    margin: 0.5rem 0;
}

.card__item__content--hidden {
    opacity: 0;
    position: absolute;
    top: 70%;
    width: 100%;
    height: 7rem;
    background-color: #fff;
    transition: opacity 0.4s;
}

.card__item:hover .card__item__content--hidden {
    opacity: 1;
}

.card__item__content--hidden__imgList {
    display: flex;
    height: 50px;
}

.card__item__content--hidden__imgList>img {

    margin-right: 3px;
}

.card__item__content--hidden__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.card__item__content--hidden__button {
    width: 100%;
}

.card__item__content--hidden--remove {
    width: 100%;
    align-self: flex-end;
    border: 1px solid rgb(255, 41, 41) !important;
    color: rgb(255, 41, 41) !important;
    margin: 20px 0;
}

.card__item__content--hidden--detail {}


/** favorite ***/
.favorite__item {
    height: auto;
    width: 12rem;
    justify-content: space-between;
    margin-right: 25px;
}

.favorite__item_img {
    height: 30px;
}

.favorite__item_img>img {
    display: block;
}

.favorite__item__content {
    display: flex;
    flex-direction: column;
    height: 5rem;
    align-items: stretch;
}

.favorite__item__content h3 {
    font-size: 1rem;
}

.favorite__item__content p {}

.favorite__item__content--hidden {}

.favorite__item__content--hidden__imgList {}

.favorite__item__content--hidden__buttons {
    display: flex;
}

.favorite__item__content--hidden--remove {
    width: 100%;
    align-self: flex-end;
    border: 1px solid rgb(255, 41, 41) !important;
    color: rgb(255, 41, 41) !important;
    margin: 20px 0;
}

.favorite__item__content--hidden--detail {}



@media screen and (max-width: 1000px) {
    .card__item {
        height: 35rem;
        width: 20rem;
    }

    .card__item img {
        height: 25rem;
    }

    .cardDetail_imgList {
        display: none;
    }
}