.Trending_container {
    position: relative;
}

.title {
    margin-top: 20px;
    margin-left: 4rem;
}

.Trending_slide_container {
    width: 50rem;
    height: auto;
    overflow-x: hidden;
    margin: 0 auto;
    scrollbar-width: none;
    position: relative;
}

::-webkit-scrollbar {
    width: 5px;
    height: 0;
}

.Trending_slides {
    display: flex;
    width: auto;
    transition: all 0.5s;
    width: 400%;
    justify-content: space-between;
    padding: 10px 0;
}

.Trending_slide {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    background-color: white;
}

.Trending_btn {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background: rgb(253, 253, 253);
    z-index: 2;
    border: 1px solid #027DEF;
    color: #027DEF;
    transition: all 0.2s;
}

.Trending_btn:hover {
    background-color: rgba(2, 124, 237, 0.2);
}

.previousBtn_container {
    left: 100px;
}

.nextBtn_container {
    right: 100px;
}

.Trending_slide_product {
    height: 22rem;
    width: 13rem;
    margin-right: 12px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.4s;
    position: relative;
}

.Trending_slide_product:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.Trending_slide_product--title {
    font-weight: bold;
}

.Trending_slide_product>p {
    margin-left: 10px;
}

.Trending_slide_product>img {
    height: 70%;
    width: 13rem;
}

@media screen and (max-width: 1000px) {
    .Trending_slide_container {
        width: 70%;
    }

    .Trending_slide_product {
        height: 30rem;
        font-size: 1.2rem;
    }

    .Trending_btn {
        display: block;
    }

    .previousBtn_container {
        left: 50px;
    }

    .nextBtn_container {
        right: 50px;
    }
}