.Favorite_container {
    margin: 0 auto;
    padding: 0 50px;
}

.Favorite_title {
    padding-top: 90px;
    display: flex;
    font-size: 18px;
}

.Favorite_title>h2 {
    margin-right: 10px;
}

.Favorite_list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    margin-top: 1rem;
}

/*******************************************/
.Favorite__item {
    height: auto;
    width: 10rem;
    justify-content: space-between;
    margin-right: 25px;
}

/********************************************************/
.Favorite_img_container {
    height: 18rem;
}

.Favorite_item img {
    display: block;
    height: 100%;
}

.Favorite_item_content {
    display: flex;
    flex-direction: column;
    height: 5rem;
    align-items: stretch;
}

.Favorite_item_content>a {
    margin: auto;

}

.Favorite_item_content>a>h2 {
    font-size: 1rem;
}

.Favorite__buttons {
    display: flex;
}

.FavoriteDelete {
    width: 100%;
    align-self: flex-end;
    border: 1px solid rgb(255, 41, 41) !important;
    color: rgb(255, 41, 41) !important;
    margin: 20px 0;

}

@media screen and (max-width:1000px) {
    .Favorite_list {
        grid-template-columns: auto auto;
    }
}