.favorite_page{
    min-height: 100vh;
    background-color: rgb(56, 56, 56);
}
.favorite_container{
    margin: 0 auto;
    width: 70%;
    background-color: #fff;
    min-height: 100vh;
    padding: 0 50px;
}
.favorite_container>h2{
    padding-top: 100px;

}
.favorite_list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    margin-top: 1.2rem;
}
.favorite_item{
    height: auto;
    width: 12rem;
    justify-content: space-between;
    margin-right: 25px;
}
.favorite_img_container{
    height: 18rem;
}
.favorite_item img{
    display: block;
    height: 100%;
}
.favorite_item_content{
    display: flex;
    flex-direction: column;
    height: 5rem;
    align-items: stretch;
}
.favorite_item_content>a{
    margin: auto;
    
}
.favorite_item_content>a>h2{
    font-size: 1rem;
}
.favoriteDelete{
    width: 100%;
    align-self: flex-end;
    
}
@media screen and (max-width:1000px) {
    .favorite_list{
        grid-template-columns: auto auto;
    }
}