.detail-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
}
.detail{
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 60%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.detail img{
    display: block;
    width: 48%;
}
.detail-content{
    width: 48%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}   
.detail-content p{
    margin: 0.5rem 0;
}
.detail-content h2{
    margin: 0;
    margin-top: 5rem;
}
.close-btn{
    position: absolute;
    font-size: 1.5rem;
    color: #333;
    top: -0.5rem;
    right: -0.5rem;
    cursor: pointer;
}