.filter{
    top: 0;
    margin-left: 3rem;
    margin-top: 2rem;
    width: 11rem;
    
}
.filter__line{
    display: flex;
    flex-direction: column;
}
.filter__line>p{
    font-weight: bolder;
    margin: 0.8rem 0;
}
.filter__line>div{
    height: 30px;
}
.category{
    width: 10rem;
    margin-top: 0.8rem;
    flex-direction: column;
    font-weight: bold;
    
}
.category>div{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    text-align: left;
}
.checkbox{
    height: 20px;
}
@media screen and (max-width: 1000px)  {
    .filter{
        width: auto;
        font-size: 1.5rem;
        
    }
    .filter__line input{
        height: 2rem;
        width: 2rem;
    }
}