.filter{
    top: 0;
    margin-left: 3rem;
    margin-top: 2rem;
    width: 11rem;
    position: relative;
}
.filter__line{
    display: flex;
    flex-direction: column;
}
.filter__line>p{
    font-weight: bolder;
    margin: 0.8rem 0;
}
.filter__line>div{
    height: 30px;
}
.category{
    width: 10rem;
    margin-top: 0.8rem;
    flex-direction: column;
    font-weight: bold;
    
}
.category>div{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    text-align: left;
}
.checkbox{
    height: 20px;
}
.close-btn{
    display: none;
}
@media screen and (max-width: 1000px)  {
    .filter{
        width: auto;
        font-size: 1.5rem;
        position: fixed;
        top: 0;
        left: 0%;
        transition: all 0.8s;
        background-color: #fff;
        z-index: 30;
        min-height: 100vh;
        margin: 0;
        padding: 20px 50px;
    }
    .filter__line input{
        height: 2rem;
        width: 2rem;
    }
    .close-btn{
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }
}