header{
    width: 80%;
    margin: 5rem auto;
    position: relative;
    height: auto;
    margin-bottom: 4rem;
}

.headerSlide-container{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    
}
.headerSlide-list{
    display: flex;
    width: 507%;
    flex-direction: row;
}
.slide-item{
    display: block;
    height: 25rem;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 0 rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    position: relative;
    margin: 0;
}
#first-slide-item{
    background-image: url('https://images.puma.com/image/upload/q_auto,f_auto,w_1440/regional/%7Eregional%7EPNA%7Eothers%7EKOP%7EHome%7ESS21%7ERS+Curve+%7E21_SS_RS+CURVE+ADDITIONAL+IMAGES_SITE_1440x500_0000_1.jpg/fmt/jpg/fmt/png');
}
#second-slide-item{
background-image: url('https://images.puma.com/image/upload/q_auto,f_auto,w_1440/regional/%7Eregional%7EPNA%7Eothers%7EKOP%7EHome%7ESS21%7EPeanuts%7E21SS_ECOM_MF_SP_SELECT_Peanuts_HotSpotHero_Desktop_1440x500_1.jpg/fmt/jpg/fmt/png');
}
#third-slide-item{
background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.4)),url('https://th.bing.com/th/id/OIP.ZBN-HKochUAO-NCiYHM1YAHaEo?w=290&h=181&c=7&o=5&dpr=1.5&pid=1.7');
}
.first-item-slide-content{
    position: absolute;
    bottom: 8rem;
    left: 5rem;
    line-height: 0.5;
    font-size: 1.6rem;
    font-weight: bold;
   color: #e6e6e6;
}
.first-item-slide-content button{
    font-size: 1.1rem;
    border: none;
    font-weight: 200;
    padding: 10px 20px;
    border-radius: 10rem;
    font-family: 'Lora', serif;
    transition: all 0.4s;
    cursor: pointer;
}
.first-item-slide-content button:hover{
    transform:translateY(-3px);
    opacity: 0.9;
    
}
.second-item-slide-content{
    transform: translateY(-0.1rem);
    font-size: 1rem;
    background-color: rgba(51, 51, 51,0.9);
    height: 100%;
    width: 20rem;
    font-weight: bold;
   color: #e6e6e6;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0 3rem;
   transition: all 0.6s;
}
.second-item-slide-content h2{
    font-weight: bolder;
}
.second-item-slide-content button{
    margin-bottom: 2rem;
    font-size: 1rem;
    width: 8rem;
    padding: 1rem 0;
    border: none;
    color: #333;
}
.second-item-slide-content button:hover{
    background-color: #bbbbbb;
}
.third-item-slide-content{
    position: absolute;
    top: 50%;
    right: 5rem;
    line-height: 0.8;
    font-size: 1rem;
    font-weight: bold;
   
   text-align: right;
   transform: translateY(-50%);
   
}
.third-item-slide-content h2{
    height: auto;
    background: linear-gradient(to right, #ffffff, #ffbf00); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
.third-item-slide-content button{
    font-size: 1.1rem;
    border: none;
    font-weight: 200;
    padding: 10px 20px;
    border-radius: 10rem;
    font-family: 'Lora', serif;
    transition: all 0.4s;
    cursor: pointer;
    transform: translateX(20px);
    background: #ffbf00;
    color: #ffffff;
    border: 3px solid #ffbf00;
}
.third-item-slide-content button:hover{
    background: #ffffff;
    color: #ffbf00;
    border: 3px solid #ffbf00;
}
.slide-btn{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 2;
    height: 4rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    transition: all 0.4s;
    cursor: pointer;
    
}
.slide-btn:hover{
    background-color: rgba(255, 255, 255, 0.8);
}
.previous-btn{
    left: 5px;
}
.next-btn{
    right: 5px;
}
nav{
    top: 0;
    width: 100%;
    display: flex;
    padding: 1rem 0;
    align-items: center;
    font-size: 1rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    background-color: #ffffff;
    z-index: 10;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   
}
nav a{
    color: #000000;
}
nav li{
    margin: 0 10px;
}
.search-input{
    display: flex;
    font-size: 1.2rem;
    margin-right: 2rem;
    font-size: 1rem;
    padding: 5px 0.8rem;
    border-radius: 10rem;
    background-color: #e5e5e5;
    width: 10rem;
    transition: all 0.2s;
}
.search-input:hover{
    background-color: #bebebe;
}
.search-input input{
    font-size: 1rem;
    border: none;
    margin: 0 0 0 15px;
    background: none;
    width: 8rem;
    
}
.search-btn{
    font-size: 2rem;
    border-radius: 50%;
}

.search-input input:focus{
    outline: none;
}
@media screen and (max-width: 1000px) {
    .headerSlide-list{
        width: 500%;
    }
}