.logo-list{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}
.brand-item{
    height: 9rem;
    width: 15rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    transition: box-shadow 0.4s, border 0.2s;
    cursor: pointer;
}

.brand-item img{
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}