.logo-list-container{
    width: 100%;
    z-index: 6;
    background-color: #fff;
    position: relative;
    padding: 10px 0;
}
.logo-list{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}
.brand-item{
    height: 9rem;
    width: 15rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    transition: box-shadow 0.4s, border 0.2s;
    cursor: pointer;
}

.brand-item img{
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 1000px) {
    .logo-list{
        width: auto;
    }
    .brand-item{
        
        padding: 0.2rem 0.5rem;
        border-bottom:  2px solid #333;
    }
    .brand-item img{
        height: 80%;
    }
}
