header {
    width: 90%;
    margin: 0 auto;
}

.header__slideContainer {
    width: 100%;
    height: 70vh;

    position: relative;
    margin-bottom: 0;
    overflow: hidden;
}

.header__slider {
    width: 300%;
    display: flex;
    height: 100%;
    transition: transform 0.4s;
}

.header__slide {
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
}

.header__slideDots {
    margin: 20px auto;
    display: flex;
    width: fit-content;
}

.header__slideDot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #C6C6C6;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
}

.header__slideDot:hover {
    background-color: #acacac;
}

.header__slideDot--active {
    background-color: #027DEF;
}

button {
    cursor: pointer;
    border: none;
}

.header__slide1__content {
    position: absolute;
    bottom: 8rem;
    left: 5rem;
    line-height: 0.5;
    font-size: 1.6rem;
    font-weight: bold;
    color: #e6e6e6;
}

.header__slide1__content button {
    font-size: 1.1rem;
    font-weight: 200;
    padding: 10px 20px;
    border-radius: 10rem;
    font-family: 'Lora', serif;
    transition: all 0.4s;
    margin-top: 10px;
}

.header__slide1__content button:hover {
    transform: translateY(-3px);
    opacity: 0.9;

}

.header__slide1__title {
    position: relative;
    height: 2.8rem;
    overflow-y: hidden;
    width: 30pc;
    display: flex;
    align-items: center;
}

.header__slide1__title>p,
.header__slide1__title>h2 {
    display: block;
    position: absolute;
}

.header__slide1__content button {
    background-color: rgb(230, 230, 230);
}

.header__slide2__content {
    font-size: 1rem;
    background-color: rgba(51, 51, 51, 0.9);
    height: 100%;
    width: 20rem;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
    transition: all 0.6s;
}

.header__slide2__title>p {
    padding: 10px 0;
}

.header__slide2__content h2 {
    font-weight: bolder;
}

.header__slide2__content button {
    margin-top: 8px;
    font-size: 1rem;
    width: 8rem;
    padding: 1rem 0;
    color: #333;
    background-color: #e4e3e3;
}

.header__slide2__content button:hover {
    background-color: #bbbbbb;
}

.header__slide3__content {
    position: absolute;
    top: 50%;
    right: 5rem;
    line-height: 0.8;
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
    transform: translateY(-50%);

}

.header__slide3__content h2 {
    height: auto;
    background: linear-gradient(to right, #ffffff, #ffbf00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.header__slide3__content p {
    margin: 15px 0;
}

.header__slide3__content button {
    font-size: 1.1rem;
    border: none;
    font-weight: 200;
    padding: 10px 20px;
    border-radius: 10rem;
    font-family: 'Lora', serif;
    transition: all 0.4s;
    cursor: pointer;
    background: #ffbf00;
    color: #ffffff;

}

.header__slide3__content button:hover {
    background: #ffffff;
    color: #ffbf00;
}

@media screen and (max-width:1000px) {
    header {
        width: 100%;
    }

    .header__slideContainer {
        height: 20vh;
    }

    .header__slide {
        background-position: left;
        width: 100%;
        margin: 0 auto;
    }

    .header__slide h2 {
        font-size: 2rem;
    }

    .header__slide p {
        font-size: 1.5rem;
    }

    .header__slide1__content {
        bottom: 50%;
        transform: translateY(50%);
    }
}