.product-list-container{
    width: 100%;
    display: flex;
    height: auto;
}
.product-list-show{
    width: 70%;
    margin: 0 auto;
    display: flex;
    height: auto;
    justify-content: flex-start;
    z-index: 5;
   margin-left: 1rem;
}
.product-list{
    display: grid;
    width: 100%;
    margin: 2rem auto;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2rem;
    height: auto;
}




@keyframes nextPageStyle{
    100%{
        transform: translateX(-100%);
    }
}
@media screen and (max-width: 1000px) {
    .product-list-show{
        width: 70%;
    }
    .product-item{
        width: 18rem;
        
        margin: 1rem 1.2rem;
        
    }
    .product-item img{
        width: 100%;
    }
    .product-list{
        grid-template-columns: auto auto;
    }
}