.Summary{
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    width: 80%;
}
.Summary h2{
    margin: 0;
    margin-bottom: 20px;
}
.summary__discountCode>p{
    position: relative;
    background-color: white;
}
.summary__discountCode__enterCode{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}
.summary__discountCode__enterCode input{
    border: 1px solid rgb(146, 145, 145);
    border-radius: 10px;
    font-size: 1rem;
    width: 60%;
    padding: 8px 16px;
    color: rgb(122, 122, 122);
}
.summary__discountCode__enterCode button{
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 0.9rem;
    border: 1px solid rgb(146, 145, 145);
    background-color: white;
    transition: all 0.5s;
    cursor: pointer;
}
.summary__discountCode__enterCode button:hover{
    background-color: rgb(194, 192, 192);
}
.summary__textLine{
    display: flex;
    justify-content: space-between;
    
    padding: 15px 0;
}
.summary__textLine__discount p{
}
.total{
    border-top: 1px solid rgb(146, 145, 145);
    border-bottom: 1px solid rgb(146, 145, 145);
    margin-bottom: 1rem;
}
.Summary>button{
    font-size: 1rem;
    padding: 1rem 0;
    margin: 5px 0;
    border-radius: 10rem;
    
    cursor: pointer;
}
.Checkout-btn{
    color: #fff;
    background-color:rgb(0,0,0);
    border: none;
}
.Checkout-btn:hover{
    background-color: rgb(63, 63, 63);
}
.Paypal-btn{
    color: rgb(4, 4, 146);
    border: 1px solid rgb(146, 145, 145);
}
.Paypal-btn:hover{
    background-color: #fff;
}