.Trending_container{
    position: relative;
}
.title{
    margin-top: 20px;
    margin-left: 4rem;
}
.Trending_slide_container{
    width: 90%;
    height: auto;
    overflow-x: scroll;
    margin: 0 auto;
    scrollbar-width: none;
    position: relative;
}
.Trending_slide_container::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
.Trending_slide{
    display: flex;
    width: auto;
    transition: all 0.5s;
}
.Trending_btn{
    display: flex;
    align-items: center;
    position: absolute;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background: rgb(253, 253, 253);
    z-index: 2;
}
.previousBtn_container{
    left: 100px;
}
.nextBtn_container{
    right:100px;
}
.Trending_slide_product{
    height: 25rem;
    margin-right:12px;
    cursor: pointer;
    transition: box-shadow 0.4s;
}
.Trending_slide_product:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.Trending_slide_product>p{
    margin-left: 10px;
}
.Trending_slide_product>img{
    height: 70%;
    width: 15rem;
}
@media screen and (max-width: 1000px) {
    .Trending_slide_container{
        width: 95%;
    }
    .Trending_slide_product{
        height: 30rem;
        font-size: 1.2rem;
    }
    .Trending_btn{
        display: none;
    }
}